@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body {
    background-color: #22272e;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
* {
    box-sizing: border-box;
    color: white;
}
p {
    margin: 0;
    padding: 0;
}
#live-player-app {
    max-width: 1140px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 40px auto 0 auto;
    color: white;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    #live-player-app {
        margin: 0;
    }
}
